body{
    background: rgb(143, 142, 142);
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 1214px;
    height: 1214px;
    border: 1px solid black;
    margin: 20px auto;
}

/* Définition des styles pour la rotation de chaque rangée */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row1 {
    flex-direction: row;
    width: 100%;
    height: 150px;
    
}
.row2 {
    flex-direction: column;
    width: 150px;
    height: calc(100% - 300px);
}
.row3 {
    flex-direction: row-reverse;
    width: 100%;
    height: 150px;
}
.row4 {
    flex-direction: column-reverse;
    width: 150px;
    height: 100%;
    height: calc(100% - 300px);
}

/* Définition des styles pour chaque case */
.case {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100px; 
    height: 150px;
    position: relative;
}

.row2 > .case,
.row4 > .case{
    width: 150px;
    height: 100px;
}
.row2 > .case{
    flex-direction: row-reverse;
}
.row3 > .case{
    flex-direction: column-reverse;
}
.row4 > .case{
    flex-direction: row;
}
.row > .corner {
    width: 150px;
    height: 150px;
    background: silver;
}

.cardName{
    border: inset 1px black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}
.cardImg{
    height: 110px;
    width: 100px;
    object-fit: cover;
}
.row2 > .case > .cardName,
.row4 > .case > .cardName{
    height: 100px;
    width: 40px;
}

.row2 > .case > .cardImg{
    transform: rotate(90deg) translate(-5% , 3%);
}
.row3 > .case > .cardImg{
    transform: rotate(180deg);
}
.row4 > .case > .cardImg{
    transform: rotate(-90deg) translate(5% , 3%);
}

.row2 > .case > .cardName{
    writing-mode: vertical-lr;
    text-orientation:sideways;
}
.row3 > .case > .cardName{
    transform: rotate(180deg);
}
.row4 > .case > .cardName{
    writing-mode:vertical-lr;
    text-orientation:sideways;
    transform: rotate(180deg);
}

.filler > .cardName,
.spoil > .cardName,
.flashback > .cardName,
.lab > .cardName,
.kaio > .cardName{
    display: none;
}

.row1 > .filler > .cardImg,
.row1 > .spoil > .cardImg,
.row1 > .flashback > .cardImg,
.row1 > .lab > .cardImg,
.row1 > .kaio > .cardImg,
.row3 > .filler > .cardImg,
.row3 > .spoil > .cardImg,
.row3 > .flashback > .cardImg,
.row3 > .lab > .cardImg,
.row3 > .kaio > .cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.row1 > .filler > .cardImg,
.row2 > .filler > .cardImg,
.row4 > .filler > .cardImg{
    object-position: -60px;
}

.row2 > .filler > .cardImg,
.row2 > .spoil > .cardImg,
.row2 > .flashback > .cardImg,
.row2 > .lab > .cardImg,
.row2 > .kaio > .cardImg{
    width: 100px;
    height: 150px;
    transform: rotate(90deg) translate(-25% , 17%);
}
.row4 > .filler > .cardImg,
.row4 > .spoil > .cardImg,
.row4 > .flashback > .cardImg,
.row4 > .lab > .cardImg,
.row4 > .kaio > .cardImg{
    width: 100px;
    height: 150px;
    transform: rotate(-90deg) translate(25% , 17%);
}







.naruto{
    background: skyblue;
}
.kimetsu{
    background: pink;
}
.fma{
    background: blue;
}
.dbz{
    background: yellow;
}
.op{
    background: red;
}
.bleach{
    background: orange;
}
.bc{
    background: #000;
    color: white;
}
.hunter{
    background: green;
}


.spoil {
    background: #333; /* Noir ou gris foncé */
}

.filler {
    background: #ffff99; /* Beige ou gris clair */
}

.flashback {
    background: #f5f5dc; /* Jaune clair ou blanc */
}





.middle_board{
    width: calc(100% - 300px);
    height: calc(100% - 300px);
    background: #3a0606;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    flex-direction: column;
    transform: rotate(-45deg);
}
.cards_filler{
    width: 300px;
    height: 150px;
    border: solid 2px black;
    margin: 200px auto;
}

.cards_flashback{
    width: 300px;
    height: 150px;
    border: solid 2px black;
    margin: 200px auto;
    transform: rotate(180deg);
}





.player-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px; /* Largeur du carré */
    height: 30px; /* Hauteur du carré */
    background-color: blue; /* Couleur de fond bleue */
    border: 2px solid white; /* Contour blanc */
    border-radius: 5px; /* Bord arrondi */
}
