.board{
    display: flex;
    flex-wrap: wrap;
    width: 1114px;
    height: 1114px;
    border: 1px solid black;
    margin: 20px auto;
}

/* Définition des styles pour chaque case */
.case {
    border: 1px solid black;
    width: 100px; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Définition des styles pour les coins */
.corner {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
}

/* Définition des styles pour la rotation de chaque rangée */
.row {
    display: flex;
}
.row1 {
    flex-direction: row;
}
.row2 {
    flex-direction: column;
}
.row3 {
    flex-direction: row-reverse;
}
.row4 {
    flex-direction: column-reverse;
}

.middle_board{
    display: flex;
    width: 911px;
    height: 912px;
    background: #3a0606;
    border: none;
}


.naruto{
    background: skyblue;
}
.kimetsu{
    background: purple;
}
.snk{
    background: green;
}
.dbz{
    background: yellow;
}
.op{
    background: red;
}
.bleach{
    background: orange;
}
.bc{
    background: #000;
}
.hunter{
    background: blue;
}

.anime {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    display: inline-block;
  }
  
/*
  .naruto { background-color: #FFA500; } 
  .gintama { background-color: #A52A2A; } 
  .one-piece { background-color: #FFD700; } 
  .bleach { background-color: #4682B4; } 
  .black-clover { background-color: #800080; } 
  .hunter-x-hunter { background-color: #228B22; } 
  .snk { background-color: #000080; } 
  .dbz { background-color: #FF0000; } 
  .jujutsu-kaisen { background-color: #800000; } 
  .kimetsu-no-yaiba { background-color: #8B4513; } 
*/

